<div class="chiba-city">
  <ul class="chiba-city-list">
    <span>あ行</span>
    <li>
      <%= link_to "旭市"%>
    </li>
    <li>
      <%= link_to "我孫子市"%>
    </li>
    <li>
      <%= link_to "市川市"%>
    </li>
    <li>
      <%= link_to "市原市"%>
    </li>
    <li>
      <%= link_to "印西市"%>
    </li>
    <li>
      <%= link_to "いすみ市"%>
    </li>
    <li>
      <%= link_to "浦安市"%>
    </li>
    <li>
      <%= link_to "大網白里市"%>
    </li>
    <span>か行</span>
    <li>
      <%= link_to "香取市"%>
    </li>
    <li>
      <%= link_to "柏市"%>
    </li>
    <li>
      <%= link_to "勝浦市"%>
    </li>
    <li>
      <%= link_to "鎌ヶ谷市"%>
    </li>
    <li>
      <%= link_to "鴨川市"%>
    </li>
    <li>
      <%= link_to "木更津市"%>
    </li>
    <li>
      <%= link_to "君津市"%>
    </li>
    <span>さ行</span>
    <li>
      <%= link_to "佐倉市"%>
    </li>
    <li>
      <%= link_to "山武市"%>
    </li>
    <li>
      <%= link_to "白井市"%>
    </li>
    <li>
      <%= link_to "匝瑳市"%>
    </li>
    <li>
      <%= link_to "袖ヶ浦市"%>
    </li>
    <span>た行</span>
    <li>
      <%= link_to "館山市"%>
    </li>
    <li>
      <%= link_to "千葉市"%>
    </li>
    <li>
      <%= link_to "銚子市"%>
    </li>
    <li>
      <%= link_to "東金市"%>
    </li>
    <li>
      <%= link_to "富里市"%>
    </li>
    <span>な行</span>
    <li>
      <%= link_to "流山市"%>
    </li>
    <li>
      <%= link_to "習志野市"%>
    </li>
    <li>
      <%= link_to "成田市"%>
    </li>
    <li>
      <%= link_to "野田市"%>
    </li>
    <span>は行</span>
    <li>
      <%= link_to "富津市"%>
    </li>
    <li>
      <%= link_to "船橋市"%>
    </li>
    <span>ま行</span>
    <li>
      <%= link_to "松戸市"%>
    </li>
    <li>
      <%= link_to "南房総市"%>
    </li>
    <li>
      <%= link_to "茂原市"%>
    </li>
    <span>や行</span>
    <li>
      <%= link_to "八街市"%>
    </li>
    <li>
      <%= link_to "八千代市"%>
    </li>
    <li>
      <%= link_to "四街道市"%>
    </li>
  </ul>
</div>