<div class="main-city">
  <p>千葉県・市から施設を探す</p>
  <ul class="city_list">
    <p>あ行</p>
    <a href="">旭市</a>
    <ul>
      <li>個人開放の施設はありません</li>
    </ul>
    <a href="">我孫子市</a>
    <ul>
      <li>
        <%= link_to "我孫子市民体育館", "#"%>
      </li>
    </ul>
    <a href="">市川市</a>
    <ul>
      <li>
        <%= link_to "信篤市民体育館", "#"%>
      </li>
      <li>
        <%= link_to "塩浜市民体育館"%>
      </li>
      <li>
        <%= link_to "国府台市民体育館"%>
      </li>
    </ul>
    <a href="">市原市</a>
    <ul>
      <li>
        <%= link_to "ちはら台コミュニティセンター"%>
      </li>
    </ul>
    <a href="">印西市</a>
    <ul>
      <li>
        <%= link_to "松山下公園総合体育館"%>
      </li>
    </ul>
    <a href="">いすみ市</a>
    <ul>
    </ul>
    <a href="">浦安市</a>
    <ul>
    </ul>
    <a href="">大網白里市</a>
    <ul>
    </ul>
    <p>か行</p>
    <a href="">香取市</a>
    <ul>
    </ul>
    <a href="">柏市</a>
    <ul>
    </ul>
    <a href="">勝浦市</a>
    <ul>
    </ul>
    <a href="">鎌ヶ谷市</a>
    <ul>
    </ul>
    <a href="">鴨川市</a>
    <ul>
    </ul>
    <a href="">木更津市</a>
    <ul>
    </ul>
    <a href="">君津市</a>
    <ul>
    </ul>
    <p>さ行</p>
    <a href="">佐倉市</a>
    <ul>
    </ul>
    <a href="">山武市</a>
    <ul>
    </ul>
    <a href="">白井市</a>
    <ul>
    </ul>
    <a href="">匝瑳市</a>
    <ul>
    </ul>
    <a href="">袖ケ浦市</a>
    <ul>
    </ul>
    <p>た行</p>
    <a href="">館山市</a>
    <ul>
    </ul>
    <a href="">千葉市稲毛区</a>
    <ul>
    </ul>
    <a href="">千葉市中央区</a>
    <ul>
    </ul>
    <a href="">千葉市花見川区</a>
    <ul>
    </ul>
    <a href="">千葉市緑区</a>
    <ul>
    </ul>
    <a href="">千葉市美浜区</a>
    <ul>
    </ul>
    <a href="">千葉市若葉区</a>
    <ul>
    </ul>
    <a href="">銚子市</a>
    <ul>
    </ul>
    <a href="">東金市</a>
    <ul>
    </ul>
    <a href="">富里市</a>
    <ul>
    </ul>
    <p>な行</p>
    <a href="">流山市</a>
    <ul>
    </ul>
    <a href="">習志野市</a>
    <ul>
    </ul>
    <a href="">成田市</a>
    <ul>
    </ul>
    <a href="">野田市</a>
    <ul>
    </ul>
    <p>は行</p>
    <a href="">富津市</a>
    <ul>
    </ul>
    <a href="">船橋市</a>
    <ul>
    </ul>
    <p>ま行</p>
    <a href="">松戸市</a>
    <ul>
    </ul>
    <a href="">南房総市</a>
    <ul>
    </ul>
    <a href="">茂原市</a>
    <ul>
    </ul>
    <p>や行</p>
    <a href="">八街市</a>
    <ul>
    </ul>
    <a href="">八千代市</a>
    <ul>
    </ul>
    <a href="">四街道市</a>
    <ul>
    </ul>
  </ul>
</div>