<div class="show-content">
  <div class="gym_wrapper">
    <p class="gym-name">
      <%= "name" %>
    </p>
    <div class="gym-image">
      <%= "image" %>
    </div>
    <div class="gym-body">
      <div class="gym-detail">
        <p class="detail-title">電話番号</p>
        <%= "phone_number" %>
      </div>
      <div class="gym-detail">
        <p class="detail-title">住所</p>
        <%= "address" %>
      </div>
      <div class="gym-detail">
        <p class="detail-title">コート数</p>
        <%= "court" %>
      </div>
      <div class="gym-detail">
        <p class="detail-title">開館日</p>
        <%= "week" %>
        <p class="detail-title">開館時間</p>
        <%= "time" %>
      </div>
    </div>
  </div>
</div>