<%= render "shared/header" %>
<div class="show-content">
  <div class="gym_wrapper">
    <p class="gym-name">
      <%= @gym.name %>
    </p>
    <div class="gym-image">
      <%= image_tag @gym.image.variant(resize: '800x400') %>
    </div>
    <div class="gym-body">
      <div class="gym-detail">
        <b class="detail-title">電話番号</b>
        <p><%= @gym.phone_number %></p>
      </div>
      <div class="gym-detail">
        <b class="detail-title">住所</b>
        <p><%= @gym.address %></p>
      </div>
      <div class="gym-detail">
        <b class="detail-title">開館日</b>
        <p><%= @gym.playweek %></p>
        <b class="detail-title">開館時間</b>
        <p><%= @gym.playtime %></p>
      </div>
      <div class="gym-detail">
        <b class="detail-title">コート数</b>
        <p><%= @gym.court %></p>
      </div>
      <div class="gym-detail">
        <b class="detail-title">マップ</b>
        <p class="facility-page"><%= link_to "▶︎ #{@gym.name}のマップへ", @gym.map_url %></p>
      </div>
      <div class="gym-detail">
        <b class="detail-title">ホームページ</b>
        <p class="facility-page"><%= link_to "▶︎ #{@gym.name}のホームページへ", @gym.homepage %></p>
      </div>
      <div class="gym-detail">
        <b class="detail-title">補足</b>
        <p class="gym-supplement"><%= @gym.supplement %></p>
      </div>
    </div>
  </div>
  <% if user_signed_in? && current_user.admin? %>
    <%= link_to '施設の編集', edit_gym_path, method: :get, class: "gym-edit" %>
    <%= link_to '施設の削除', gym_path(@gym.id), method: :delete, class:'gym-destroy' %>
  <% end %>
</div>